{% extends 'base.html' %}

{% block content %}
<h1><font face="Comic Sans MS">About Me</font></h1>

<p>
   <font face="Comic Sans MS">
   <b>Name:</b> Dhrumilkumar Patel<br>
   <b>Location:</b> Americus, GA<br>
   <b>Contact:</b> <a href="mailto:dhrumil1612@icloud.com">dhrumil1612@icloud.com</a><br>
   <b>Currently:</b> Pursuing Bachelor of Computer Science at Georgia Southwestern State University (GPA: 3.95/4.0, Expected 2025)<br>
   <b>Previous Education:</b> Associate's in Computer Science, LDRP Institute of Tech & Research (CPI: 8.72/10.0)
   </font>
</p>

<pre class="ascii-divider">
===========================
||     My Skill Stack    ||
===========================
</pre>

<p>
   <font face="Comic Sans MS">
   <b>Programming:</b> Python, JavaScript, Java, C++, C#, SQL, C<br>
   <b>Frameworks & Libraries:</b> React.js, Node.js, Flask, Express.js, Vite, MUI, Fast<br>
   <b>Databases:</b> MongoDB, SQL<br>
   <b>Web:</b> HTML5, CSS3, JS, XML<br>
   <b>Cloud:</b> Azure (OpenAI, Cosmos DB), AWS, GCP<br>
   <b>DevOps & Tools:</b> GitHub, Docker, Azure DevOps, CI/CD<br>
   <b>AI & ML:</b> Azure OpenAI, Speech Services, LangChain<br>
   <b>OS:</b> Windows Server, Linux<br>
   <b>Networking:</b> TCP/IP, Routing, Administration<br>
   <b>Soft Skills:</b> Communication, Teamwork, Leadership, Project Management
   </font>
</p>

<pre class="ascii-divider">
===========================
||  Honors & Experience  ||
===========================
</pre>

<p>
   <font face="Comic Sans MS">
   <b>Experience:</b><br>
   - Web Developer Intern (Jan 2024 - Jul 2024, Aug 2024 - Present) at Georgia Southwestern State University: Enhanced web pages, improved UX, ensured accessibility.<br><br>
   <b>Honors:</b><br>
   - President's List (Fall 2023, Spring 2024, Summer 2024, Fall 2024)<br>
   - Dean's List (Summer 2023)<br>
   - Gujarat Common Entrance Test 2020: 90.05%
   </font>
</p>

<marquee behavior="alternate" scrollamount="3" style="color: #00FFFF;">
    <font face="Comic Sans MS">Constantly Evolving, Always Learning!</font>
</marquee>
{% endblock %}
