<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Dhrumilkumar Patel's Retro 90's Web Corner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/cursor.js') }}" defer></script>
    
</head>
<body>
    
    <!-- Hidden audio element; user can choose to play -->
    <audio id="bg-audio" src="{{ url_for('static', filename='audio/theme.mp3') }}" loop></audio>

    <table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr>
            <td colspan="3" align="center" style="border-bottom: 3px dotted #FF00FF;">
                <marquee behavior="alternate" scrollamount="5" style="font-size:24px; color:#00FF00;">
                    <font face="Comic Sans MS" class="rainbow-text">Welcome to Dhrumilkumar Patel's Retro 90's Web Corner!</font>
                </marquee>
            </td>
        </tr>
        <tr>
            <td width="20%" style="border-right: 3px dotted #FF00FF;">
                <marquee behavior="scroll" direction="right" scrollamount="8">
                    <img src="{{ url_for('static', filename='images/runner.gif') }}" alt="Running Character" width="80" style="vertical-align:middle;">
                </marquee>
                <p align="center" style="display: flex; align-items: center; justify-content: center; margin-top:60px;">
                    <img src="{{ url_for('static', filename='images/aniglobe.gif') }}" alt="Spinning Globe" width="50" style="margin-right: 10px;">
                    <font face="Comic Sans MS" color="#FFFF00" size="4">Navig8!</font>
                </p>
                <ul style="list-style-type: none; padding:0;">
                    <li><a href="{{ url_for('home') }}"><font face="Comic Sans MS">Home</font></a></li>
                    <li><a href="{{ url_for('about') }}"><font face="Comic Sans MS">About Me</font></a></li>
                    <li><a href="{{ url_for('guestbook') }}"><font face="Comic Sans MS">Guestbook</font></a></li>
                </ul>
                <pre class="ascii-divider" align="center">
===============================
|| <img src="{{ url_for('static', filename='images/old_school.gif') }}" alt="Old School GIF" width="30" style="margin-right: 10px; vertical-align: middle;">   Old-School Links! ||
===============================
                </pre>
                <p><font face="Comic Sans MS" size="2">[ <a href="https://neocities.org/" target="_blank">Neocities</a> ] [ <a href="https://www.paulgraham.com/index.html" target="_blank">Paul's Retro Site</a> ]</font></p>

                <pre class="ascii-divider">
+-[ COOL STUFF ]-+
| Under Const... |
+-[ STAY TUNED ]-+
                </pre>
                <marquee behavior="scroll" direction="right" scrollamount="8" style="margin-top:60px;">
                    <img src="{{ url_for('static', filename='images/runner.gif') }}" alt="Running Character" width="80" style="vertical-align:middle;">
                </marquee>
            </td>
            <td width="60%">
                {% block content %}{% endblock %}

                <!-- Music Play Button -->
                <div style="text-align:center;">
                    <div class="play-button blink" onclick="document.getElementById('bg-audio').play();">
                        <p align="center" style="display: flex; align-items: center; justify-content: center;">
                            <img src="{{ url_for('static', filename='images/gplay.gif') }}" alt="gplay" width="50" style="margin-right: 10px;">
                            <font face="Comic Sans MS">Play Tunes!</font>
                        </p>
                    </div>
                </div>
            </td>
            <td width="20%" align="center" style="border-left: 3px dotted #FF00FF; ">
                <marquee behavior="scroll" direction="right" scrollamount="8">
                    <img src="{{ url_for('static', filename='images/runner.gif') }}" alt="Running Character" width="80" style="vertical-align:middle;">
                </marquee>
                <p align="center" style="margin-top:60px;">
                    <img src="{{ url_for('static', filename='images/mailme.gif') }}" alt="Mailme GIF">
                    <font face="Comic Sans MS" color="#FFFF00" size="4">Contact</font>
                </p>
                <p><font face="Comic Sans MS">Email:</font></p>
                <p><a href="mailto:dhrumil1612@icloud.com"><font face="Comic Sans MS">dhrumil1612@icloud.com</font></a></p>
                <hr>
                <p><font face="Comic Sans MS">Find Me:</font></p>
                <p><font face="Comic Sans MS" size="2">[ <a href="https://www.linkedin.com/in/dhrumil-patel2002" target="_blank">LinkedIn</a> ] [ <a href="https://github.com/dhrumilp12" target="_blank">GitHub</a> ] [ <a href="https://devpost.com/dhrumil1612" target="_blank">DevPost</a> ]<br>[ <a href="https://dhrumil-patel.onrender.com" target="_blank">Portfolio</a> ] [ <a href="https://learn.microsoft.com/en-us/users/dhrumilkumarpatel-1225/" target="_blank">Microsoft Learn</a> ]</font></p>
                <hr>
                <p><font face="Comic Sans MS">Thanks for visiting!</font></p>
                <pre class="ascii-divider" align="center">
===========================
|| <img src="{{ url_for('static', filename='images/construction.gif') }}" alt="Construction GIF" width="30" style="margin-right: 10px; vertical-align: middle;">   Under Const. ||
===========================
                </pre>
                <marquee behavior="scroll" direction="right" scrollamount="8" style="margin-top:60px;">
                    <img src="{{ url_for('static', filename='images/runner.gif') }}" alt="Running Character" width="80" style="vertical-align:middle;">
                </marquee>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="center" style="border-top: 3px dotted #FF00FF;">
                <pre class="ascii-divider">
                ***********************
                * © 2024 Dhrumilkumar Patel *
                *       All rights reserved.    *
                ***********************
                </pre>
                
                    
                <marquee behavior="scroll" direction="right" scrollamount="8" style="margin-top:20px;">
                    <img src="{{ url_for('static', filename='images/Trunks_Kills_Freeza.gif') }}" alt="Running Character" style="vertical-align:middle;">
                </marquee>
            </td>
        </tr>
    </table>
    
</body>
</html>