{% extends 'base.html' %}

{% block content %}
<p align="center">
  <img src="{{ url_for('static', filename='images/welcome.gif') }}" alt="Welcome GIF">
  <font face="Comic Sans MS" color="#FFFF00" size="6">to My Retro 90's Web Portfolio!</font>
</p>

<p align="center">
    <font size="4" face="Comic Sans MS">You are visitor number: <b>{{ visit_count }}</b>!</font><br>
</p>

<marquee behavior="scroll" direction="left" scrollamount="3" style="color: #FF00FF; font-size:14px;">
    <font face="Comic Sans MS">
        Explore my AI-driven Projects! Check out my DevPost! Sign my Guestbook!
    </font>
</marquee>

<pre class="ascii-divider" align="center">
+-+-+-+-+-+-+-+-+-+-+-+
|  <img src="{{ url_for('static', filename='images/portal.gif') }}" alt="Portal GIF" width="30" style="margin-right: 10px; vertical-align: middle;"> P O R T A L |
+-+-+-+-+-+-+-+-+-+-+-+
</pre>

<p>
    <font face="Comic Sans MS">
    Hi, I'm <b>Dhrumilkumar Patel</b>, a Computer Science student at Georgia Southwestern State University (Expected Graduation: 2025). 
    With a passion for web development, AI/ML, and cloud technologies, I bring a blend of technical expertise and creativity to each project. 
    From enhancing user experiences to implementing accessibility and AI-driven solutions, my work aims to make technology more engaging, inclusive, and impactful.
    </font>
</p>

<pre class="ascii-divider" align="center">
==============================
|| <img src="{{ url_for('static', filename='images/projects.gif') }}" alt="Projects GIF" width="30" style="margin-right: 10px; vertical-align: middle;">  Featured Projects  ||
==============================
</pre>

<p>
    <font face="Comic Sans MS">
    - <b>AI-Driven Mental Health Companion (Earlent)</b>: This app would provide mental health support through conversational AI, offering personalized advice, mood tracking, and mental health resources based on user input and interaction history.<br>
      [<a href="https://devpost.com/software/earlent-2-0-ai-driven-mental-health-companion" target="_blank">DevPost</a>] [<a href="https://github.com/dhrumilp12/Mental-Health-Companion" target="_blank">GitHub</a>]<br><br>

    - <b>EcoTrace</b>: EcoTrace is a web-based platform designed to empower communities by enabling individuals to report and track environmental issues such as pollution, deforestation, and illegal dumping. The platform leverages citizen science to gather data, raise awareness, and foster community action towards environmental conservation and sustainability.<br>
      [<a href="https://devpost.com/software/ecotrace-community-driven-environmental-monitoring-platform" target="_blank">DevPost</a>] [<a href="https://github.com/dhrumilp12/EcoTrace.git" target="_blank">GitHub</a>]<br><br>

    - <b>Health Equalizer</b>: The purpose of the Health Equalizer is to enhance healthcare accessibility by leveraging AI to connect users with medical resources tailored to their needs and location, improving healthcare outcomes in underserved communities.<br>
      [<a href="https://devpost.com/software/health-equalizer" target="_blank">DevPost</a>] [<a href="https://github.com/dhrumilp12/Health-Equalizer" target="_blank">GitHub</a>]<br><br>

    - <b>Meme Mingle</b>: Meme Mingle is an AI-powered educational assistant designed to support students in their learning journey. It offers personalized suggestions based on users' moods, provides access to a vast library of public domain textbooks, and enhances interactions with relevant memes and audio responses. The platform integrates seamlessly with user profiles and maintains comprehensive chat histories to tailor its support effectively.<br>
    [<a href="https://devpost.com/software/meme-mingle" target="_blank">DevPost</a>][<a href="https://github.com/dhrumilp12/meme_mingle.git" target="_blank">GitHub</a>]
    </font>
</p>


{% endblock %}