{% extends 'base.html' %}

{% block content %}
<h1><font face="Comic Sans MS">Welcome to My Retro 90's Web Portfolio!</font></h1>

<p align="center">
    <font size="4" face="Comic Sans MS">You are visitor number: <b>{{ visit_count }}</b>!</font><br>
</p>

<marquee behavior="scroll" direction="left" scrollamount="3" style="color: #FF00FF; font-size:14px;">
    <font face="Comic Sans MS">
        Explore my AI-driven Projects! Check out my DevPost! Sign my Guestbook!
    </font>
</marquee>

<pre class="ascii-divider">
+-+-+-+-+-+-+-+
| P O R T A L |
+-+-+-+-+-+-+-+
</pre>

<p>
    <font face="Comic Sans MS">
    Hi, I'm <b>Dhrumilkumar Patel</b>, a Computer Science student at Georgia Southwestern State University (Expected Graduation: 2025). 
    With a passion for web development, AI/ML, and cloud technologies, I bring a blend of technical expertise and creativity to each project. 
    From enhancing user experiences to implementing accessibility and AI-driven solutions, my work aims to make technology more engaging, inclusive, and impactful.
    </font>
</p>

<pre class="ascii-divider">
=========================
||   Featured Projects  ||
=========================
</pre>

<p>
    <font face="Comic Sans MS">
    - <b>AI-Driven Mental Health Companion (Earlent)</b>: Azure Cosmos DB + OpenAI for mental health support.<br>
      [<a href="https://devpost.com/software/earlent-2-0-ai-driven-mental-health-companion" target="_blank">DevPost</a>] [<a href="https://github.com/dhrumilp12/Mental-Health-Companion" target="_blank">GitHub</a>]<br><br>

    - <b>EcoTrace</b>: Environmental Monitoring Platform for real-time data & community engagement.<br>
      [<a href="https://devpost.com/software/ecotrace-community-driven-environmental-monitoring-platform" target="_blank">DevPost</a>] [<a href="https://github.com/dhrumilp12/EcoTrace.git" target="_blank">GitHub</a>]<br><br>

    - <b>Health Equalizer</b>: AI-based healthcare platform, Winner of the 2024 AI for Change Hackathon.<br>
      [<a href="https://devpost.com/software/health-equalizer" target="_blank">DevPost</a>] [<a href="https://github.com/dhrumilp12/Health-Equalizer" target="_blank">GitHub</a>]<br><br>

    - <b>Event Spotlight and Reservation System</b>: Streamlined event management and reservations.<br>
      [<a href="https://devpost.com/software/event-spotlight-reservation-system" target="_blank">DevPost</a>] [<a href="https://github.com/dhrumilp12/DevPostGsw-main.git" target="_blank">GitHub</a>]
    </font>
</p>
{% endblock %}
